src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	<flow name="businessLogicFlow" doc:id="884f86c5-66e1-4701-bb9b-594c2a60abf3" >
		<batch:job jobName="migrateAccountsBatch" doc:id="79b373e6-1aeb-43a9-9dfe-8ac0d2f31fdc" >
			<batch:process-records >
				<batch:step name="getAccountInSalesforceStep" doc:id="232087de-e311-49c1-a890-439c65ea1af2" >
					<salesforce:query config-ref="Salesforce_Sfdc_config" doc:name="Query account in Salesforce" doc:id="573f94bc-79b9-4219-b6bd-65200b61b7a2" target="IdInSF">
						<salesforce:salesforce-query >SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query>
                    <ee:transform doc:name="Push Id to payload" doc:id="5e6ecafa-54e0-4014-a786-899ba03a102f" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ if (isEmpty(vars.IdInSF)) {} else vars.IdInSF[0]]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertAccountsInSalesforceStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<ee:transform doc:name="Map database fields to Salesforce fields" doc:id="d484063f-6d81-42ce-98ef-7cec51b04672" >
							<ee:message >
							</ee:message>
                            <ee:variables >
                                <ee:set-variable variableName="accounts" ><![CDATA[%dw 2.0
output application/java
---
payload map {
	AccountNumber: $.AccountNumber, 
	Id: $.Id,
	Description: $.Description,
	Name: $.Name,
	Industry: $.Industry,
	NumberOfEmployees: $.NumberOfEmployees
}]]></ee:set-variable>
                            </ee:variables>
						</ee:transform>
						<salesforce:create-job doc:name="Upsert job - Accounts in Salesforce" doc:id="7f8299ec-cc86-42e8-8cde-4d0cc4a623ba" config-ref="Salesforce_Sfdc_config" operation="upsert" type="Account">
                            <salesforce:create-job-request><![CDATA[#[externalIdFieldName: "Id"]]]></salesforce:create-job-request>
                        </salesforce:create-job>
                        <salesforce:create-batch doc:name="Upsert batch - Accounts in Salesforce" doc:id="e6252b25-3bcd-4a05-866d-a4f8b6a565c7" config-ref="Salesforce_Sfdc_config" jobInfoBatch="#[payload]">
                            <salesforce:objects ><![CDATA[#[vars.accounts]]]></salesforce:objects>
                        </salesforce:create-batch>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
								<scatter-gather doc:name="Scatter-Gather" doc:id="ef2964ef-0b85-4c6c-a5ee-b834df639e7b">
			<route>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished!" />
			</route>
					<route>
 						<ee:transform doc:name="Prepare migration result email"
 							doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
 							<ee:message>
 								<ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"
  
 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
 ++ "\n Total Records: "				++ payload.totalRecords!
 ++ "\n Successful Records: "		++ payload.successfulRecords!
 ++ "\n Failed Records: "			++ payload.failedRecords!
 ++ "\n Loaded Records: "			++ payload.loadedRecords!
 ++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
 							</ee:message>
 						</ee:transform>
 						<email:send config-ref="Gmail_SMTP" doc:name="Send migration result email"
 							doc:id="5896eaa9-dd10-47a2-a6fc-6319b11dbd06" fromAddress="${mail.from}"
 							subject="${mail.subject}">
 							<email:to-addresses>
 								<email:to-address value="${mail.to}" />
 							</email:to-addresses>
 						</email:send>
 					</route>
		</scatter-gather>
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="queryDBSubFlow" doc:id="d80e07e2-9668-405c-9d35-9cfcc1b24e66" >
		<db:select config-ref="Database_Config" doc:name="Select accounts from DB" doc:id="2d2d30b8-b220-4e0b-84a8-f10d02ac13e8">
			<db:sql>SELECT AccountNumber, Description, Name, NumberOfEmployees, Phone, Type, Industry, LastModifiedDate FROM Account WHERE NumberOfEmployees &gt; 5000 AND (Industry = 'Education' OR Industry = 'Government')</db:sql>
		</db:select>
	</sub-flow>
	<flow name="mainFlow" doc:id="7c0a5bef-b3d5-442f-bff3-10d038f69a5e" >
		<flow-ref doc:name="Call queryDBSubFlow" doc:id="4bbb03cf-6efe-4462-88de-2b3a21169fb4" name="queryDBSubFlow"/>
		<flow-ref doc:name="Trigger migrateAccountsBatch" doc:id="91360ede-4d71-44c7-9b64-8ee762e04ea0" name="businessLogicFlow"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
