src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="triggerFlow" doc:id="25a15396-5def-4f1c-bac2-6c7a769f4278" >
		<http:listener doc:name="Start synchronization" doc:id="ca1efe4f-1e53-428a-b439-c1d905246a34" config-ref="HTTP_Listener_config" path="/migrateaccounts"/>
		<flow-ref doc:name="Trigger mainFlow" doc:id="9c665dd4-7df3-4e0d-a1eb-01ac63781ce7" name="mainFlow"/>
		<ee:transform doc:name="Build response" doc:id="2abddd58-c707-435a-a004-ec5ba9107429">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
 ---
 {
 	Message: "Batch Process initiated",
 	ID: payload.id,
 	RecordCount: payload.recordCount,
 	StartExecutionOn: payload.creationTime as DateTime
 }
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow> 
</mule>

